* {
    border: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;      
    width: 100%;
    height: 100%;
}

main {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    min-width:  600px;
    width: 40%;

    background-color: rgba(128, 128, 128, 0.075);

    border-radius: 5px;
}

.imgContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    background-image: url("https://source.unsplash.com/500x500/?meal");
    height: 500px;
    width: 500px;
    border-radius: 10px;
}

.mealDescription {
    height: 60px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
}


.imgContainer * {
    margin: 0;
}

.swipeButtons {
    border-radius: 50%;
    height: 48px;
    width:  48px;
    padding: 10px;
    box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.62);
    margin: 15px 20px;
}

.swipeButtons:hover {
    transition: box-shadow 0.1s ease;
}

#swipeLeft:hover {
    box-shadow: 0px 0px 13px -2px rgba(121, 0, 0, 0.62);
}
#swipeRight:hover {
    box-shadow: 0px 0px 13px -2px rgba(0, 121, 26, 0.62);
}