body {
  margin: 0;
  font-family: 'Ubuntu', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#page_header {
  display: flex;
  width: 100%;
  height: 86px;
  
  justify-content: space-around;
  align-items: center;
  user-select: none;
}


#page_header h1 {
  font-family: 'Major Mono Display', monospace;
}
#page_header span {
  font-size: medium;
}

.userOptions button {
  font-weight: 800;
  border-radius: 5px;
  
  background-color: rgba(255, 255, 255, 0);
  
  padding: 9px 10px;
}

.userOptions button:hover {
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.48);
  transition: box-shadow 0.1s ease;
}

#sign_in_button {
  margin-right: 10px;
  border: none;
}

#sign_up_button {
  margin-left: 10px;
  border: none;
  color: #00A890;
  border: 2px solid#00A890;
}
